.weather {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.weather p {
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.icon {
    justify-self: center;
    align-self: center;
}