.selectCity select {
    width: 10rem;
    font-weight: bold;
    height: 2.89rem;
    border-radius: 10px;
    padding: 0px 10px;
}

.selectCity option {
    font-weight: bold;
}

.selectCity select:focus {
    border-width: 2px;
    border-color: black;
}
